body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
     /* background:  #75b8a7;  */
    overflow: scroll;
    border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
#pdf-viewer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#pdf-viewer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#pdf-viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    background-color: white;
    padding: 10px;
    background: linear-gradient(#0a3161, #75b8a7);
}

canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

a {
    font-size: 2rem;
    font-weight: bold;
    color: #0a3161;
    
}

#hyperlink {
    margin: 2rem;
    
}


.hidden {
    display: none;
}
