body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

#pdf-viewer {
    width: 80%;
    height: 90%;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
